
/************************General FAQ section************************/
.faq-heading{
    padding-top:3rem;
    color: white;
    position: relative;
    z-index: 6;
    text-align: center;
    background: linear-gradient(to bottom,#050505,#171717,#191919);
}
.question-text{
  background-image: linear-gradient(to right,yellow,red,blue);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.faqs{
   
    position: relative;
    color: white;
    z-index: 6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:2rem;
    height:auto;
    width: 100%;
    background: linear-gradient(to bottom,#191919,#171717);
    
}

.faq-item{
   margin: 1rem;
   padding-bottom:1rem;
   padding-right:1rem;
   padding-left:1rem;
    border-radius: 15px;
    max-height:60px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    z-index: 99;
}

/************************EFFECTS************************/
.ques-show{
    max-height:500px;
    transition: max-height 0.3s ease-in-out; 
}

.ans-hide{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0, -50px, 0);
  
}

.ans-show{
  transform: none;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: 0;
}

.faq-ques{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    margin:0.7rem;
}



.quesToggle{
    font-size: 20px;
    margin-left: 20px;
    color: green;
}

/************************Media Queries************************/

@media screen and (max-width: 960px) {

  .faq-item{
    margin:0.5rem;
    padding: 0.5rem;
  }
  .question-text{
    font-size: 20px;
  }

  .faq-item h3{
    font-size: 15px;
  }

  
}