
.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

.hero_image{
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:1; 

}

.hero-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,#17171700,#1b1b1b 90%);
  z-index: 2;
  opacity: 0.9;
}

.hero-gamepad{
  margin-bottom: 10rem;
  font-size:200px;
  background-image: linear-gradient(to right,yellow,red,purple);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  z-index: 5;
 }


.hero-btns {
  margin-top: 2rem;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-title{
  background-image: linear-gradient(to right,yellow,red,purple);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.Hero-subtitle{
  color: white;
}



/************************Media Queries************************/


@media screen and (min-width: 1200px) {
  
  .page-title {
    font-size: 100px;
    margin-top: -100px;
  }
  
  .Hero-subtitle {
    margin-top: 1rem;
    font-size: 2rem;
  }
  
}

@media screen and (max-width: 875px) {

  .hero_image{
    object-fit: cover;
  }


  .hero-gamepad{
    font-size:150px;
    margin-bottom: 7rem;
  }

  .page-title{
    margin-top: -100px;
  }
  
  .Hero-subtitle{
    
    width: 100%;
    text-align: center;

  }
  

}


@media screen and (max-width: 550px) {

  .hero-container {
    padding-top: 0;
    padding-bottom: 4rem;
  
  }

  .hero-gamepad{
    margin-top: 2rem;
    font-size:140px;
    margin-bottom: 5rem;
  }

  .page-title{
    margin-top: -100px;
  }

  .hero-btns {
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  .btn-mobile {
  display: block;
  text-decoration: none;
  }

  .btn{
  width:10rem;
  }

}


