.Markets-wrapper{
    padding-bottom: 2rem;
    height: auto;
    background: black;
    display: flex;
    justify-content: center;
    position: relative;
    background: linear-gradient(to bottom,#171717, #050505,black);
    }


div h2{
margin: 10px;
align-self: flex-start;
}

.Markets{
padding:1rem;
display: grid;
grid-template-areas:" a  b"
                    " c  d";
grid-template-columns: repeat(autofit,minmax(240px,1fr));
gap: 1rem;
border-style: solid;
border-color: white;
border-radius: 15px;
border-width: 6px;
gap:0.5rem;
width: 100%;
height:400px;
overflow: hidden;

}
.part-title{
color:white;
text-align: center;
margin: 1rem;
}

.Markets-image{
    width: auto;
    margin: 0;
    height: 150px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
  
  }

  .Markets-image:hover{
    transform: scale(1.1);
    
  }

  .Markets-container{
      width: 80%;
  }

.market{
    display: flex;
    justify-content: center;
    
}

p{
    margin: 0.5rem;
    color:white;
    font-size: large;

}

div>h1{
    color:white;
}

/************************Media Queries************************/

@media screen and (max-width: 960px) {

    .Markets{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        height: auto;
    }

    .Markets-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        background: black;
       
    }
    .Markets-container{
        margin-top: 5rem;
        width: 100%;
        height: auto;
    }

    .market>h1{
        font-size: xx-large;
    }

    .market>p{
        font-size: small;
       
    }
    .Markets-image{
        width: auto;
        margin: 0;
        height: 100px;
        border-radius: 15px;
      
      }

}